<div style="margin: 0; background: #fff!important; box-sizing: border-box; color: #37598b; font-family: 'Open Sans',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: 400; line-height: 1.2; min-width: 100%; padding: 0; text-align: left; width: 100%!important;"><img
    class="CToWUd" style="border: 0; width: 1px; height: 1px; border-width: 0px!important; display: none!important; line-height: 0!important;"
    src="https://ci6.googleusercontent.com/proxy/ptXGPYDnE98br9biLAgz9UmZfuHhDwoq_NmLU4-kAZxajRPYQP8DTuHxu3T_7z2cVgb7kZkGcEA1babvBbEExxL255MlPOJVrnI0KGu8wA7kls7bczsfIPPgJpblytq8OaFufXSCX4A9jnsErqz2NfVbr7qt30O0fgcZttohVCzzeUK8vQi_RO_hB5XmfSoMe8xXeyKGG0kqzX2G3boGHQguRdUmDBRHm8UKOCIibcediI2AiJGzYcHeJStzwl2UYOJfKAjgiw36PNPsIFDPnEQPgrGGZg5b6m-vj7NHW-7zBJz7kjhXDCtaRJLhaTAc_kgSSULQO0T8DUHlUzCqu4UN1mhmtla_MN_twkQXrdJV2fah86o_IO8CzJy7QPK0a4kej1WxleVsREtpS3_b7JiFDANmyctXmNcBICOEzHBQvlJp1rg=s0-d-e1-ft#https://links.expertoption.com/e/eo?_t=7de31919ed824324a9f1cea2c42eb2ae&amp;_m=0315c3c3e0404255a7173673099cf6b4&amp;_e=DbDghGSUQrAGZBnRmYpN69MNrWBqrnnQyk8dlrFYEu0zHUcROwGZbOICmMim-hHryalBsTPzG16pHuLjIHiLGzxIlEFhOSuUEABCxvRnJLS7jhU4V5glkyrZuehYeKr8js4lLuDK_jvK4_4E1vPU-CWcm2p4zoQ_8ExGZgLLDV8yPlD0gXQ-2jYDNrf3DGnx"
    width="1" height="1" /> <span class="m_-7373384197248952454preheader" style="color: #fff; display: none!important; font-size: 1px; line-height: 1px; max-height: 0; max-width: 0; opacity: 0; overflow: hidden;">Start
    trading</span>
  <table class="m_-7373384197248952454body" style="margin: 0; background: #fff!important; border-collapse: collapse; border-spacing: 0; color: #37598b; font-family: 'Open Sans',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: 400; height: 100%; line-height: 1.2; padding: 0; text-align: left; vertical-align: top; width: 100%;">
    <tbody>
      <tr style="padding: 0; text-align: left; vertical-align: top;">
        <td class="m_-7373384197248952454center" style="margin: 0; border-collapse: collapse!important; color: #37598b; font-family: 'Open Sans',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: 400; line-height: 1.2; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;"
          align="center" valign="top">
          <center style="min-width: 600px; width: 100%;">
            <table class="m_-7373384197248952454container m_-7373384197248952454float-center" style="margin: 0 auto; background: #fff; border-collapse: collapse; border-spacing: 0; float: none; padding: 0; text-align: center; vertical-align: top; width: 600px;"
              align="center">
              <tbody>
                <tr style="padding: 0; text-align: left; vertical-align: top;">
                  <td style="margin: 0; border-collapse: collapse!important; color: #37598b; font-family: 'Open Sans',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: 400; line-height: 1.2; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">
                    <table class="m_-7373384197248952454wrapper m_-7373384197248952454actions m_-7373384197248952454secondary"
                      style="background: #f1f1f1; border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;"
                      align="center">
                      <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                          <td class="m_-7373384197248952454wrapper-inner" style="margin: 0; border-collapse: collapse!important; color: #37598b; font-family: 'Open Sans',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: 400; line-height: 1.2; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">
                            <table class="m_-7373384197248952454spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                              <tbody>
                                <tr style="padding: 0; text-align: left; vertical-align: top;">
                                  <td style="margin: 0; border-collapse: collapse!important; color: #37598b; font-family: 'Open Sans',Helvetica,Arial,sans-serif; font-size: 24px; font-weight: 400; line-height: 24px; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;"
                                    height="24px">&nbsp;</td>
                                </tr>
                              </tbody>
                            </table>
                            <table class="m_-7373384197248952454row m_-7373384197248952454content" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                              <tbody>
                                <tr style="padding: 0; text-align: left; vertical-align: top;">
                                  <th class="m_-7373384197248952454small-12 m_-7373384197248952454large-12 m_-7373384197248952454columns m_-7373384197248952454first m_-7373384197248952454last"
                                    style="margin: 0 auto; color: #37598b; font-family: 'Open Sans',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: 400; line-height: 1.2; padding: 0; padding-bottom: 16px; padding-left: 35px; padding-right: 35px; text-align: left; width: 565px;">
                                    <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                                      <tbody>
                                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                                          <th style="margin: 0; color: #37598b; font-family: 'Open Sans',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: 400; line-height: 1.2; padding: 0; text-align: left;">
                                            <p class="m_-7373384197248952454text-center" style="margin: 0; margin-bottom: 10px; color: #000; font-family: 'Open Sans',Helvetica,Arial,sans-serif; font-size: 30px; font-weight: 400; letter-spacing: .15px; line-height: 18px; padding: 0; text-align: center;">
                                              EMAIL CONFIRMATION&nbsp;</p>
                                            <div>
                                              <div style="color: #999; margin-bottom: 10px; font-size: 20px; text-align: center;">You
                                                requested generate new password on this account. Please try to login
                                                with new password.</div>
                                              <div style=" font-size: 25px; text-align: center;">%PASSWORD%</div>
                                              <div style="text-align: center;">&nbsp;</div>
                                            </div>
                                            <center style="min-width: 495px; width: 100%;">
                                              <table class="m_-7373384197248952454button m_-7373384197248952454success m_-7373384197248952454radius m_-7373384197248952454calltoaction m_-7373384197248952454float-center"
                                                style="margin: 0 auto; border-collapse: collapse; border-spacing: 0; float: none; margin-bottom: 10px; padding: 0; text-align: center; text-transform: uppercase; vertical-align: top; width: auto;">
                                                <tbody>
                                                  <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                    <td style="margin: 0; border-collapse: collapse!important; color: #37598b; font-family: 'Open Sans',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: 400; line-height: 1.2; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">
                                                      <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
                                                        <tbody>
                                                          <tr style="padding: 0; text-align: left; vertical-align: top;">
                                                            <td style="margin: 0; background: #81d40c; border: 0 solid #81d40c; border-collapse: collapse!important; border-radius: 5px; color: #fff; font-family: 'Open Sans',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: 400; line-height: 1.2; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;"><a
                                                                style="margin: 10; border: 0 solid #81d40c; border-radius: 5px; color: #fff; display: inline-block; font-family: 'Open Sans',Helvetica,Arial,sans-serif; font-size: 20px; font-weight: 400; letter-spacing: 1px; line-height: 1.2; padding: 11px 16px 10px 16px; text-align: left; text-decoration: none;"
                                                                href="%HOST_SERVER%/login" target="_blank" rel="noopener">Login</a></td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                              <div style="color: #999; margin-bottom: 10px; font-size: 20px; text-align: center;">
                                                If you can't open link on the button. Please connect to below
                                                link</div>
                                              <a href="%HOST_SERVER%/login">%HOST_SERVER%/login</a>
                                            </center>
                                          </th>
                                          <th class="m_-7373384197248952454expander" style="margin: 0; color: #37598b; font-family: 'Open Sans',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: 400; line-height: 1.2; padding: 0!important; text-align: left; width: 0;">&nbsp;</th>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </th>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br /><br />
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="display: none; white-space: nowrap; font: 15px courier; line-height: 0;">&nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
  <div class="yj6qo">&nbsp;</div>
  <div class="adL">&nbsp;</div>
</div>
